configuration {
	modes: "drun";

	show-icons: true;
	icon-theme: "Adwaita";

	max-history-size: 50;

	timeout {
		action: "kb-cancel";
		delay:  0;
	}

	filebrowser {
		directories-first: true;
		sorting-method: "name";
	}
}

@theme "theme"
