*{
	--tab-border-radius: 20px;
	--toolbarbutton-border-radius: 20px;
	--toolbar-field-focus-border-color: rgb(255, 243, 235);
	--transparent-background: rgba(45, 42, 46, 0.85);
	--tab-selected-bgcolor: rgba(45, 42, 46, 0.9);
}

#main-window {
	background: transparent !important;
}

#firefox-view-button{
	display: none;
}

.tab-background:is([selected], [multiselected]){
	border-width: 1px;
	border-style: solid;
}

#navigator-toolbox{
	background-color: var(--transparent-background) !important;
}

#PersonalToolbar{
	display: none;
}

#tabbrowser-tabs{
	margin-inline-start: 0 !important;
}

.titlebar-buttonbox-container{
	display: none;
}

.titlebar-spacer{
	display: none;
}

#nav-bar{
	background: transparent !important;
}

#urlbar-background{
	background: var(--transparent-background) !important;
}
